[user]
    name = Peter Tri Ho
    email = mail@petertriho.com

[include]
    path = ~/.config/git/.gitconfig
    path = ~/.config/git/fsmonitor.gitconfig

[branch]
    sort = -committerdate

[column]
    ui = auto

[commit]
    verbose = true
    template = ~/.gittemplates/commit

[core]
    # Remove delta_side_by_side function when fixed
    # https://github.com/dandavison/delta/issues/359
    # https://github.com/wfxr/forgit/issues/121
    pager = delta --width ${FZF_PREVIEW_COLUMNS:-$COLUMNS}
    untrackedCache = true

[delta]
    navigate = true
    syntax-theme = base16
    true-color = always

[diff]
    colorMoved = zebra
    mnemonicPrefix = true
    # external = difft
    renames = true
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[fetch]
    prune = true
    pruneTags = true
    all = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[help]
    # autocorrect = prompt
    autocorrect = show

[merge]
    # conflictStyle = zdiff3
    # tool = mergetool
    conflictStyle = diff3

[mergetool "fugitive"]
    cmd = nvim -f -c "Gvdiffsplit!" "$MERGED"
    trustExitCode = false

[mergetool "mergetool"]
    cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true

[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[pager]
    difftool = true

[pull]
    rebase = true

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[rerere]
    enabled = true
    autoupdate = true

[status]
    branch = true
    showStash = true
    showUntrackedFiles = all

[tag]
    sort = version:refname
